@import "reset-css/reset.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300:400,500');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR');

body {
  height: 100%;
  font-family: 'Noto Serif KR', sans-serif !important;
  background-color: $bg-color !important;
  font-size: $normal-font-size !important;
  overflow: auto;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}