.timeline {  
     //flex-basis : 600px;
    .timline-description{
        margin: 0 auto ;
        max-width: 1000px;
        font-size: 1.5rem;
        font-weight: 800;
        text-align: center;
        padding: 30px;
        @include boxBorder(no);
    }
    .timeline-wrapper {
        display: flex;
        margin: 0 auto;
        max-width: 1000px;
        align-items: center;
        margin-top: 30px;
        
        // .timeline-image {
        //     ::-webkit-scrollbar {
        //         width: 10px;
        //     }
             
        //     ::-webkit-scrollbar-track {
        //         border-radius: 10px;
                
        //         background-color: none;
        //     }
        //     ::-webkit-scrollbar-thumb {
        //         border-radius: 10px;
        //         box-shadow: inset 0 0 6px rgba(175, 170, 170, 0.3);
        //         background-color:#e8ecee;
        //     }
        //     ::-webkit-scrollbar-thumb:hover {
        //         box-shadow: inset 0 0 6px rgba(22, 22, 22, 0.5);
        //     }
        //     ::-webkit-scrollbar-thumb:active {
        //         box-shadow: inset 0 0 6px rgba(22, 22, 22, 0.87);
        //     }
            
            // .timeline-image-center { 
            //     width: 400px;
            //     height: 400px;
                
            //     display: flex;
            //     flex-flow: wrap;
            //     justify-content: space-around;

            //     border: 1px solid #e6e6e6;
            //     background-color: white;
            //     box-shadow: 0 .125rem 1.5rem rgba(0, 0, 0, .075) ;
            //     border-radius: .25rem;
                
            //     overflow-x:auto; 
                
            //     .timeline-image-move {
            //         margin-left: 22.5px;
            //         margin-top: 5px;
            //         margin-bottom: 4px;
            //         @include boxBorder(yes);
            //     }
            // }
        

        // .timeline-content {
        //     //margin:0 auto;
        //     .timeline-image {
        //         width: 400px;
        //         height: 400px;
        //     }
        // }

        .timeline-content__left,
        .timeline-content__right {
            width: 500px;
            min-width: 500px;
            max-height: 500px;
        }
        .timeline-content__left {

            .timeline-image {
                width: 100%;
            }
        }

        .timeline-content__right {

            @include boxBorder(no);
            
            .timeline-image-wrapper {

                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                max-height: 500px;
                overflow: scroll;
                
                .timeline-image-move {
                    margin: 10px;
                    //세부계획 이미지스크롤 디자인
                    border: 1px solid #eaf1f9;
                    
                    &:hover {
                        box-shadow: 2px 2px 2px 2px rgba(148, 146, 146, 0.445) !important;
                    }

                    &:active {
                        box-shadow: 4px 4px 4px 4px rgba(148, 146, 146, 0.445) !important;
                    }

                    ::-webkit-scrollbar {
                        width: 10px;
                    }

                    ::-webkit-scrollbar-track {
                        border-radius: 10px;

                        background-color: none;
                    }

                    ::-webkit-scrollbar-thumb {
                        border-radius: 10px;
                        box-shadow: inset 0 0 6px rgba(175, 170, 170, 0.3);
                        background-color: #e8ecee;
                    }

                    ::-webkit-scrollbar-thumb:hover {
                        box-shadow: inset 0 0 6px rgba(22, 22, 22, 0.5);
                    }

                    ::-webkit-scrollbar-thumb:active {
                        box-shadow: inset 0 0 6px rgba(22, 22, 22, 0.87);
                    }
                }
            }
        }
    }
}


.Selectable .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: #f0f8ff !important;
    color: #4a90e2;
}

.Selectable .DayPicker-Day {
    border-radius: 0 !important;
}

.Selectable .DayPicker-Day--start {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}

.Selectable .DayPicker-Day--end {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}
