.timeline {  
     //flex-basis : 600px;
    .timline-description{
        margin: 0 auto ;
        max-width: 800px;
        font-size: 1.5rem;
        font-weight: 800;
        text-align: center;
        padding: 30px;
        @include boxBorder(no);
    }
    .timeline-wrapper {
        display: flex;
        // border: 1px solid blue;
        margin: 0 auto;
        max-width: 800px;
        align-items: center;
        margin-top: 30px;

        .timeline-image //세부계획
        {
            width: 400px;
            height: 579px;
            .timeline-image-center
            { 
                margin-top: 127px;
                width: 400px;
                height: 400px;
                display: flex;
                flex-flow: row wrap;
                align-content: flex-start;
                border: 1px solid #e6e6e6;
                background-color: white;
                box-shadow: 0 .125rem 1.5rem rgba(0, 0, 0, .075) ;
                border-radius: .25rem;
               
                //@include boxBorder(yes); 
                .timeline-image-move
                {
                    margin-left: 16px;
                    margin-right: 16px;
                    margin-top: 8px;
                    @include boxBorder(yes); 
        
                    /*.TimeLineList-content
                    {
                        font-size: 18px;
                        margin-bottom : 10px;
                        line-height :27px;
                    }
                    */
                }
                .timeline-image-move:hover  { 
                    box-shadow: 2px 2px 2px 2px rgba(148, 146, 146, 0.445) !important ;
                }
            }
        }
        .timeline-content {
            //margin:0 auto;
            .timeline-image {
                width: 400px;
                height: 400px;
            }
        }
    }
}
.Selectable .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: #f0f8ff !important;
    color: #4a90e2;
}

.Selectable .DayPicker-Day {
    border-radius: 0 !important;
}

.Selectable .DayPicker-Day--start {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}

.Selectable .DayPicker-Day--end {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}
