@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";

.gallery-wrapper {
    display: flex;
    justify-content: center;

    .gallery {
        width: 1000px;
        height: auto;
        background-color: white;

        .fullscreen {
            .image-gallery-slide-wrapper {
                // width: 100% !important;
                // height: auto;
            }
        }

        .image-gallery-content {
            display: flex;
            border: 1px solid #e6e6e6;
            background-color: white;
            box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;

            .image-gallery-slide-wrapper {
                width: 600px;
                min-width: 600px;
            }

            .image-gallery-thumbnails-wrapper {}

            .image-gallery-thumbnails {

                .image-gallery-thumbnails-container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                    .image-gallery-thumbnail {
                        margin-left: 5px;
                    }

                    .image-gallery-thumbnail.active {
                        border: none !important;
                        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
                    }
                }
            }
        }

        .gallery-image-title-wrapper {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            font-size: 1.5em;
            font-weight: 900;
            text-align: left;
            padding: 30px;
            border: 1px solid #e6e6e6;
            background-color: white;
            box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
            border-radius: .25rem;

            .gallery-image-title_content {
                padding: 10px;
            }

            .gallery-image-title_header {
                border-bottom: 1px solid black;
            }

            .gallery-image-title_region,
            .gallery-image-title_date {
                display: flex;
                justify-content: flex-end;
            }

        }
    }
}


.TravelPlanList-container {
    margin-top: 30px;
    max-width: 1000px;

    .TravelPlanList-title {
        font-size: 2em;
        padding: 10px;
    }

    .TravelPlanList-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        max-height: 400px;
        @include boxBorder(yes);

        .TravelPlanList-content_left {
            width: 600px;
            max-width: 600px;
            padding: 10px;

            .TravelPlanList-content__content {
                font-size: 18px;
                line-height: 140%;
                overflow-y: auto;
                max-height: 250px;
                white-space: pre-line;
            }

            .TravelPlanList-content__price,
            .TravelPlanList-content__date {
                font-size: 18px;
            }
        }

        .TravelPlanList-content_right {
            max-width: 400px;

        }

        .TravelPlanList-content {
            font-size: 1.5em;
            padding: 10px;
        }
    }
}

.tour-container {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
}

.tour-title {
    font-size: 2em;
    padding: 10px;
}

.tour-item {
    margin: 10px;
    @include boxBorder(yes);

}

.tour-item__title,
.tour-item__position {
    width: 300px;
}

.tour-item__title {
    margin-bottom: 10px;
}

.tour-item__position {
    margin-bottom: 10px;
}

.tour-item__image {}