@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";

.detail-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .detail-card {
        @include boxBorder(yes);
        display: flex;
        flex-direction: column;
        width: 500px;
        align-items: center;
        justify-content: center;

        .card-top {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .detail-image {
                width: 100%;
            }

            .detail-title {
                text-align: center;
                border-bottom: 1px solid green;
                width: 100%;
                font-size: 1.3em;
                padding: 10px;
            }
        }

        .detail-card, .detail-status, .detail-price {
            padding: 10px;
        }

        .detail-content {}
        .detail-status {
            font-size: 1.2em;
            align-self: flex-end;
        }
        .detail-price {
            align-self: flex-end;
        }
    }

}

.gallery-wrapper {
    display: flex;
    justify-content: center;
    
    .gallery {
        width: 800px;
        height: 800px;
    
        .image-gallery-content {
            display: flex;

            .image-gallery-thumbnails {
                margin-left: 10px;
                .image-gallery-thumbnails-container {
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
    }
}

