version: '2.1'    # 사용하는 버전을 2.1로 지정합니다. 

services:   # 이 섹션에서는 Docker Compose 인스턴스의 일부로 시작될 컨테이너를 정의합니다.
  postgres:
    image: postgres:9.6   # postgres:9.6 이미지를 사용합니다.
  web:
    restart: always   # 시스템이 다시 시작될 경우 컨테이너가 다시 시작하도록 지시합니다.
    environment:    # Docker 실행 명령에 전달할 환경 변수를 정의해줍니다.
      - DJANGO_SECRET_KEY=local
    image: web    # 
    build: ./   # 이 컨테이너를 빌드하는 데 사용할 Dockerfile의 위치를 지정합니다.
    command: >    # 아래에 있는 명령어를 커맨드로 입력해줍니다.
      bash -c "python wait_for_postgres.py &&
               pip install -r requirements.txt &&
               ./manage.py makemigrations &&
               ./manage.py migrate &&
               ./manage.py runserver 0.0.0.0:8000"
    volumes:     # 컨테이너 에서 사용할수 있는 호스트 시스템에 연결된 경로를 마운트합니다.
      - ./:/code
    ports:    # 다음과 같은 방법으로 컨테이너의 포트를 호스트에 매핑합니다.
      - "8000:8000"
    depends_on:   # 서비스를 현재 블록 정의 컨테이너에 대한 종속성으로 설정합니다.
      - postgres
  documentation:    # 문서화
    restart: always   # 시스템이 다시 시작될 경우 컨테이너가 다시 시작하도록 지시합니다.
    build: ./   # 이 컨테이너를 빌드하는 데 사용할 Dockerfile의 위치를 지정합니다.
    command: "mkdocs serve"   # mkdocs serve 명령어를 커맨드 입력해줍니다.
    volumes:    # 컨테이너 에서 사용할수 있는 호스트 시스템에 연결된 경로를 마운트합니다.
      - ./:/code
    ports:    # 다음과 같은 방법으로 컨테이너의 포트를 호스트에 매핑합니다.
      - "8001:8001"
