.footer {
    // max-width: $max-page-width;
    width: 100%;
    height: 100px;
    border-top: 1px solid #e6e6e6;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: $small-font-size;
    text-transform: uppercase;
    // background-color: #73d7fb;
    flex-wrap: wrap; // flex box multiline
    
    
    @include breakpoint("phone-tablet") {
        justify-content: center;
        // margin-bottom: 25px;
    }
    .column {
        @include breakpoint("phone-tablet") {
            margin-bottom: 0;
        }
        .nav {
            .list {
                display: flex;
                flex-wrap: wrap;
                @include breakpoint("phone-tablet") {
                    justify-content: center;
                }
                .list-item {
                    margin-right: 15px;
                    color: $dark-blue;
                    cursor: pointer;
                    @include breakpoint("phone-tablet") {
                        margin-bottom: 10px;
                        margin-right: 15px;
                    }
                }
            }
        }
        .copyright {
            color: $dark-grey;
            font-size: 1.1rem;
        }
    }
}