.user-travel-detail_wrapper {
    width: 800px;
    max-width: 800px;
    margin: 0 auto;

    .form-control, .form-control-file {
        margin-top: 10px;
    }

    .user-travel-detail_button {
        float:right;
        margin-top: 10px;    
    }
}