.container{
    .spinner{
        height: 32px;
        animation: spinner 1s steps(12) infinite;
    }
}

@keyframes spinner{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}